[submodule "yubikey-personalization"]
	path = yubikey-personalization
	url = git@github.com:Yubico/yubikey-personalization.git
[submodule "yubico-c"]
	path = yubico-c
	url = git@github.com:Yubico/yubico-c
